<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register Course</title>

    <script type="text/javascript">

        function foo(s){

            document.getElementsByName("sid").forEach((i)=>{
                i.value = s
            })
        }


    </script>

</head>
<body>
    <h1>Register a course</h1>
    <h3>Confirm your student ID: </h3>
    <input id="studentId" type="text" onchange="javascript:foo(this.value)"><br>
    <ul>
        <th:foreach th:each="se:${allSession.keySet()}">
            <li>
                <form method="post" action="/register">
                    <input type="hidden" required name="sid">
                    <input type="hidden" name="cid" th:value="${se}">
                    <label th:text="${allSession.get(se)}"></label>
                    <input type="submit">
                </form>
            </li>
        </th:foreach>
    </ul>

</body>
</html>